<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Agricultural Team">
    <meta charset="utf-8">

    <title>Bookkeeping</title>
    <link rel="icon" th:href="@{/images/metis_logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/cdt.css}">
    <link rel="stylesheet" th:href="@{/css/alert.css}">
    <link rel="stylesheet" th:href="@{/css/weui.min.css}">
<!--    <link rel="stylesheet" th:href="@{/css/uploadifive.css}'">-->
    <!-- Style CSS -->
</head>
<body class="authentication-bg authentication-bg-pattern d-flex align-items-center" style="background: #f8da6b">
<!-- Sign in Start -->

<div  class="container" th:include="::content">

</div>

<!-- Sign in END -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/weui.min.js}"></script>
<script th:src="@{/js/alert.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/ribbon.js}"></script>
<!-- Appear JavaScript -->
</body>
</html>